<%- include('header') %>
    <ul>
        <% for(const appointment of appointments){ %>
            <li>
                clientId: <%=appointment.clientId%>
                <br>
                isCompleted: <%=appointment.isCompleted%>
                <br>
                <a href="https://adityaharsh2001.github.io/videochat/index.html" class="btn btn-primary">Book an appointment</a>
            </li>
        <% } %>
    </ul>
<%- include('footer') %>