<%- include('../includes/head.ejs') %>
</head>

<body>
   
    <main>
        <form action = "/lawyers/search"  method = "POST">
            
            <label for="city">SELECT CITY</label>
            <select name="city" id="city">
                <option value="None">None</option>
                <option value="Delhi">Delhi</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Chennai">Chennai</option>
                <option value="Hyderabad">Hyderabad</option>
            </select>
            
            <label for="practiceAreas">Select practice area</label>
            <select name="practiceAreas" id="practiceAreas">
                <option value="None">None</option>
                <option value="Divorce">Divorce</option>
                <option value="Family Dispute">Family Dispute</option>
                <option value="Criminal">Criminal</option>
                <option value="Consumer Court">Criminal</option>
            </select>
            
            <label for="courts">SELECT COURTS</label>
            <select name="courts" id="courts">
                <option value="None">None</option>
                <option value="Supereme Court">Supereme Court</option>
                <option value="Delhi High Court">Delhi High Court</option>
                <option value="Rohini Court">Rohini Court</option>
                <option value="Bombay High Court">Bombay High Court</option>
            </select>
            
            <label for="experience">Select experience</label>
            <select name="experience" id="experience">
                <option value="None">None</option>
                <option value="4"> &lt; 5</option>
                <option value="6">5 - 10</option>
                <option value="11">10 - 15</option>
                <option value="16"> &gt; 15</option>
            </select>
            
         
            <label for="gender">Select Gender</label>
            <select name="gender" id="gender">
                <option value="None">None</option>
                <option value="Male">male</option>
                <option value="Female">female</option>
                <option value="Other">other</option>
                
            </select>
            <label for="rating">Select Rating</label>
            <select name="rating" id="rating">
                <option value="None">None</option>
                <option value="5">5</option>
                <option value="4">&ge; 4</option>
                <option value="3">&ge; 3</option>  
            </select>
        </select>
        <label for="sort">Sort by </label>
        
        <select name="sort" id="sort">
                <option value="None">None</option>  
                <option value="experience">experience</option>
                <option value="rating">rating</option>
            </select>
            <button type = "submit">Search</button>
            <button type = "reset">reset</button>
        </form>
        <a href="/">Home</a>
    </main>
<%- include('../includes/end.ejs') %>