<%- include('header') %>

<!-- ======= About Section ======= -->
<section id="hero" class="d-flex align-items-center">
    
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Get a better insight of law world</h1>
        <h2>ADVOC is an interactive online platform that makes it faster and easier to find and hire Top Rated Lawyers in any city 
           court in India, because you deserve access to first-rate, professional legal advice from Top Rated Lawyers out there. We are on a mission to make the legal experience remarkable by making legal services high quality, cost-effective and on-demand for every need.</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="/img/hero-img.svg" class="img-fluid animated" alt="">
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <!-- <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">-->
      </div>
    </div>
  </div>

</section>

<main id="main">

  <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Our Journey</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            ADOVC is a legal portal for all your law-related needs! We are a curated online marketplace that connects our network of Top Rated lawyers with business clients. We are a one-stop platform to ask, answer, discuss legal questions, 
            and from time to time, we even post legal updates and news for those of you who can’t get enough of law-related newsbytes!
          </p>


        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  


  



</main>

<%- include('footer') %>